<h2>Edit Masina</h2>

<form [formGroup]="masiniForm" (ngSubmit)="onSaveMasini()">
  <mat-form-field>
    <input matInput placeholder="Numar Inmatriculare: " formControlName="numarInmatriculare">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Serie sasiu: " formControlName="serieSasiu">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Marca: " formControlName="marca">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Model: " formControlName="model">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="An fabricatie: " formControlName="anFabricatie">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Tip motor: " formControlName="tipMotorizare">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Capacitate cilindrica: " formControlName="capacitateMotor">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Cai: " formControlName="caiPutere">
  </mat-form-field>

  <div class="buttons">
    <button mat-button color="primary" type="submit" [disabled]="!masiniForm.valid">Save</button>
    <span class="button-spacer"></span> 
    <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  </div>
</form>
